<div class="option">
  <!-- <label>Scale</label> -->

  <div class="range-slider" ng-model="viewer.depthOfFieldMin" range-stepper="{snap: 0}" data-values="[
            {value:0},
            {value:0.25},
            {value:0.5},
            {value:0.75},
            {value:1}
          ]"></div>
  <div class="range-slider" ng-model="viewer.depthOfFieldMax" range-stepper="{snap: 0}" data-values="[
            {value:0},
            {value:0.25},
            {value:0.5},
            {value:0.75},
            {value:1}
          ]"></div>
</div>

</div>
